@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Insert Product</h2>

<form asp-controller="Home" asp-action="SubmitData" method="post">
    <input placeholder="Enter Product Name" name="name" />
    <input placeholder="Enter Product Description" name="description" />
    <input placeholder="Enter Product Price" name="price" />
    <input type="submit" />
</form>